{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add New Manufacturer</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'login/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}">
</head>
<body>
    <div class="main">
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                            <form method="POST" id="signup-form" class="signup-form">
                                <h2 class="form-title">Add New Manufacturer</h2>
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-input" name="party_id" id="name" placeholder="Manufacturer ID"/>
                                </div>
                              
                                <div class="form-group">
                                    <input type="text" class="form-input" name="par_name" id="name" placeholder="Manufacturer Name"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-input" name="par_address" id="name" placeholder="Manufacturer Address"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-input" name="contact" id="contact" placeholder="Contact Number"/>
                                </div>
                                <div class="form-group">
                                    <input type="submit" name="submit" id="submit" class="form-submit" value="Add"/>
                                </div>
                                <div>
                                    {% for message in messages %}
                                    <h3><center>{{message}} </center> </h3>
                                    {% endfor %}
                                </div>
                            </form>
                    <p class="loginhere">
                        <a href="manufacturer" class="loginhere-link">See in the Manufacturer List</a>
                    </p>
                    <p class="loginhere">
                        <a href="index" class="loginhere-link">Go back to home</a>
                    </p>
                </div>
            </div>
        </section>

    </div>
    <!-- JS -->
    <script src="{% static 'login/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'login/js/main.js' %}"></script>   
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>